@charset "utf-8";
/* CSS Document */
body{margin: 0px; box-sizing: border-box;}
.header{width: 100%; height: 60px; box-sizing: border-box; float: left; position: fixed; background-color: black; }
.body-content{width: 100%; height: 750px; float: left; box-sizing: border-box; }
.body-content img{width: 100%; height: 750px; float: left; box-sizing: border-box; z-index: -1; position: absolute;}
.footer{width: 100%; height: 20px; box-sizing: border-box; float: left; background-color: black; color: darkgray; font-family: "Pathway Gothic One"; text-align: center; font-size: 17px;}
.body-content-left{width: 60%; height: 750px; box-sizing: border-box; float: left; }
.body-content-right{width: 40%; height: 750px; box-sizing: border-box; float: left; }
.social-bar{width: 8%; height: 750px; box-sizing: border-box; float: left; 	border-right-width: thin; border-right: 0.4px solid; border-right-color: rgba(192,0,255,0.50)}
.body-right-content-top{width: 100%; height: 50%; box-sizing: border-box; float: left;}
#avenger-img{width: 340px; height: 180px; box-sizing: border-box; margin-top: 210px; margin-left: 130px;}
.login-box{width: 230px; height: 100px; float: left; box-sizing: border-box; margin-left: 180px; margin-top: 10px;}
#login-img{width: 230px; height: 100px; float: left; box-sizing: border-box; animation: pulse 3s infinite;}
.body-right-content-bottom{width: 100%; height: 50%; box-sizing: border-box; float: left; }
#login-link{width: 100%; height: 100%; box-sizing: border-box; float: left;}
#myProfile{color: aquamarine; text-decoration: none;}
#myProfile:hover{color: crimson; text-decoration: underline;}
.social-content{width: 100%; height: 25%; box-sizing: border-box; margin-top: 490px; margin-left: 11px;}
#facebook{width: 50px; height: 53px; z-index: 0; float: left; box-sizing: border-box;}
#instagram{width: 50px; height: 47px; z-index: 0; float: left; box-sizing: border-box;}
#twitter{width: 50px; height: 50px; z-index: 0; float: left; box-sizing: border-box;}
.social-facebook{width: 100%; height: 50px; float: left; box-sizing: border-box; }
.social-instagram{width: 100%; height: 50px; float: left; box-sizing: border-box; margin-top: 15px; }
.social-twitter{width: 100%; height: 50px; float: left; box-sizing: border-box; margin-top: 15px; }
.header-bar{width: 70%; height: 100%; box-sizing: border-box; float: left; margin-left: 300px; }
.jarvis-logo{width: 150px; height: 100%; float: left; box-sizing: border-box; }
.jarvis-logo img{width: 150px; height: 100%; float: left; box-sizing: border-box;}
.home{width: 10%; height: 100%; box-sizing: border-box; float: left; text-align: center; padding: 15px; margin-left: 330px;}
.about{width: 10%; height: 100%; box-sizing: border-box; float: left; text-align: center; padding: 15px;}
.log-in{width: 10%; height: 100%; box-sizing: border-box; float: left; text-align: center; padding: 15px; margin-left: 90px; border: 2px solid aqua; }
.header-bar a{font-family: "Pathway Gothic One"; font: bolder; font-size: 20px; text-decoration: none; color: darkgray; }
.header-bar a:hover{color: crimson; text-decoration: overline;}
.menu-bar{width: 30%; height: 100%; float: left; box-sizing: border-box;}
.gallery{width: 150px; height: 50px; float: left; box-sizing: border-box; margin-top: 250px; padding: 5px;  border-bottom-right-radius: 10px; border-top-right-radius: 10px;}
.mission{width: 170px; height: 50px; float: left; box-sizing: border-box; padding: 5px; border-bottom-right-radius: 10px; border-top-right-radius: 10px;}
.member{width: 210px; height: 50px; float: left; box-sizing: border-box; padding: 5px; border-bottom-right-radius: 10px; border-top-right-radius: 10px;}
span{align-content: center; color: white; font-family: "Permanent Marker"; font-size: 25px; position: relative; padding-left: 15px;}
.gallery:hover{background-color: rgba(60,0,113,0.40); border: 1px solid rgba(4,60,160,0.70); transition: 0.5s; border-left: none;}
.mission:hover{background-color: rgba(60,0,113,0.40); border: 1px solid rgba(4,60,160,0.70); transition: 0.5s; border-left: none;}
.member:hover{background-color: rgba(60,0,113,0.40); border: 1px solid rgba(4,60,160,0.70); transition: 0.5s; border-left: none;}
.overlay-gallery-content{width: 0px; height: 100%; z-index: 1; background-color: rgba(0,0,0,0.7); position: fixed; top: 0; left: 0; overflow: hidden; transition: 0.5s; }
.overlay-mission-content{width: 0px; height: 100%; z-index: 1; background-color: rgba(0,0,0,0.8); position: fixed; top: 0; left: 0; overflow: hidden; transition: 0.5s; }
.overlay-member-content{width: 0px; height: 100%; z-index: 1; background-color: rgba(0,0,0,0.7); position: fixed; top: 0; left: 0; overflow: hidden; transition: 0.5s; }
.overlay-login-content{width: 0px; height: 100%; z-index: 1; background-color: rgba(62,62,62,0.80); position: fixed; top: 0; right: 0; overflow: hidden; transition: 0.5s; }
.overlay-about-content{width: 100%; height: 0%; z-index: 1; background-color: rgba(0,0,0,0.8); position: fixed; top: 0; left: 0; overflow-y: hidden; transition: 0.5s; }
.closebtn-R{position: absolute; top: 20px; left: 30px; font-size: 50px; text-decoration: none; color: rgba(166,166,166,1.00); font-weight: bold; }
.closebtn-L{position: absolute; top: 20px; right: 30px; font-size: 50px; text-decoration: none; color: rgba(166,166,166,1.00); font-weight: bold; }
#login{width: 450px; height: 680px; margin-left: 530px; margin-top: 20px; background-color: ghostwhite; box-sizing: border-box; border-radius: 5px; }
.login-text{width: 450px; height: 70px; background-color: rgba(0,0,0,1.00); font-size: 40px; font-family: Anton; color: ghostwhite; box-sizing: border-box; text-align: center; border-top-left-radius: 5px; border-top-right-radius: 5px; }
.login-form{font-family: "Pathway Gothic One"; font-size: 30px; font: bold; margin-left: 30px; color: black; margin-top: 60px; }
.login-content {width: 350px; height: 40px; border-radius: 2px; display: inline-block; box-sizing: border-box; border: 1px solid rgba(19,19,19,1.00); margin-left: 20px; font-family: "Pathway Gothic One"; font-size: 20px; margin-top: 20px; margin-bottom: 20px; }
input[type=submit] {width: 350px; height: 40px; background-color: rgba(0,197,237,1.00); border: none; color: ghostwhite; font-family: "Pathway Gothic One"; font-size: 25px; font: bold; margin-top: 10px; margin-left: 20px; border-radius: 2px; }
body::-webkit-scrollbar {display: none; }	

@keyframes pulse {
    0%     { transform: scale(.85, .85); }
    25%    { transform: scale(1.2, 1.2); }
    50%    { transform: scale(.85, .85); }
    75%    { transform: scale(1.2, 1.2); }
    100%   { transform: scale(.85, .85); }
}
