<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>MainController</servlet-name>
        <servlet-class>thanh.controllers.MainController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>thanh.controllers.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadController</servlet-name>
        <servlet-class>thanh.controllers.LoadController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FindMemberController</servlet-name>
        <servlet-class>thanh.controllers.FindMemberController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveMemberController</servlet-name>
        <servlet-class>thanh.controllers.RemoveMemberController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateMemberController</servlet-name>
        <servlet-class>thanh.controllers.UpdateMemberController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateMemberController</servlet-name>
        <servlet-class>thanh.controllers.CreateMemberController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadMissionDataController</servlet-name>
        <servlet-class>thanh.controllers.LoadMissionDataController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FindMissionController</servlet-name>
        <servlet-class>thanh.controllers.FindMissionController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveMissionController</servlet-name>
        <servlet-class>thanh.controllers.RemoveMissionController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateMissionController</servlet-name>
        <servlet-class>thanh.controllers.CreateMissionController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadArmorDataController</servlet-name>
        <servlet-class>thanh.controllers.LoadArmorDataController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FindArmorController</servlet-name>
        <servlet-class>thanh.controllers.FindArmorController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveArmorController</servlet-name>
        <servlet-class>thanh.controllers.RemoveArmorController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewProfileController</servlet-name>
        <servlet-class>thanh.controllers.ViewProfileController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogOutController</servlet-name>
        <servlet-class>thanh.controllers.LogOutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddNewArmorController</servlet-name>
        <servlet-class>thanh.controllers.AddNewArmorController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateArmorController</servlet-name>
        <servlet-class>thanh.controllers.UpdateArmorController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateMissionController</servlet-name>
        <servlet-class>thanh.controllers.UpdateMissionController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadUserDataController</servlet-name>
        <servlet-class>thanh.controllers.LoadUserDataController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcessSuitController</servlet-name>
        <servlet-class>thanh.controllers.ProcessSuitController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubmitMissionController</servlet-name>
        <servlet-class>thanh.controllers.SubmitMissionController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MainController</servlet-name>
        <url-pattern>/MainController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadController</servlet-name>
        <url-pattern>/LoadController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FindMemberController</servlet-name>
        <url-pattern>/FindMemberController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveMemberController</servlet-name>
        <url-pattern>/RemoveMemberController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateMemberController</servlet-name>
        <url-pattern>/UpdateMemberController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateMemberController</servlet-name>
        <url-pattern>/CreateMemberController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadMissionDataController</servlet-name>
        <url-pattern>/LoadMissionDataController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FindMissionController</servlet-name>
        <url-pattern>/FindMissionController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveMissionController</servlet-name>
        <url-pattern>/RemoveMissionController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateMissionController</servlet-name>
        <url-pattern>/CreateMissionController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadArmorDataController</servlet-name>
        <url-pattern>/LoadArmorDataController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FindArmorController</servlet-name>
        <url-pattern>/FindArmorController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveArmorController</servlet-name>
        <url-pattern>/RemoveArmorController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewProfileController</servlet-name>
        <url-pattern>/ViewProfileController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogOutController</servlet-name>
        <url-pattern>/LogOutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddNewArmorController</servlet-name>
        <url-pattern>/AddNewArmorController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateArmorController</servlet-name>
        <url-pattern>/UpdateArmorController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateMissionController</servlet-name>
        <url-pattern>/UpdateMissionController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadUserDataController</servlet-name>
        <url-pattern>/LoadUserDataController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcessSuitController</servlet-name>
        <url-pattern>/ProcessSuitController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubmitMissionController</servlet-name>
        <url-pattern>/SubmitMissionController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            60
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
